<h1>Stupid Coaching</h1>
 <div class="container">
  <form action="/answer" method="GET">
        <div class="form-group">
          <label for="question">Speak to your coach</label>
          <input class="form-control" type="text" id="question" name="question" placeholder="Ask anything">
        </div>
        <input class="btn btn-primary" type="submit" value="Ask!">
      </form>
</div>
